:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-accent: rgb(162, 1, 5);
    --default-margin: 1rem;
    --default-font-style: 'Arial', sans-serif;
    --default-h1-size: 3.0rem;
    --default-h2-size: 2.5rem;
    --default-h3-size: 1.75rem;
    --default-text-size: 1.5rem;
}

@media(max-width: 900px) {
    :root {
        --default-h1-size: 2.5rem;
        --default-h2-size: 2.0rem;
        --default-h3-size: 1.75rem;
        --default-text-size: 1.2rem;
    }
}

/* HERO */

.title .container {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}