:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-accent: rgb(162, 1, 5);
    --default-margin: 1rem;
    --default-font-style: 'Arial', sans-serif;
    --default-h1-size: 3.5rem;
    --default-h2-size: 2.5rem;
    --default-h3-size: 1.75rem;
    --default-text-size: 1.5rem;
}

@media(max-width: 900px) {
    :root {
        --default-h1-size: 3.0rem;
        --default-h2-size: 2.0rem;
        --default-h3-size: 1.75rem;
        --default-text-size: 1.2rem;
    }
}

/* HERO */

.hero-section .container {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

@media(max-width: 900px) {
    .hero-section .container {
        margin-top: 9rem;
        margin-bottom: 9rem;
    }
}

@media(max-width: 790px) {
    .hero-section .container {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

.hero-section h1 {
  margin-bottom: 3rem;
}

.hero-section h1::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: var(--color-accent);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.hero-section p {
    margin-bottom: 2rem;
}

.hero-section button {
    width: 150px;
    height: 50px;
}

/* UPCOMING EVENTS */

.upcoming-events-section {
  background-color: var(--color-accent);
  color: var(--background);
  padding: 2rem 0;
  margin-bottom: 8rem;
}

.events-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.events-list ul {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  gap: 2rem;
  margin: 0;
}

.events-list li {
  background-color: var(--background);
  color: var(--color-accent);
  aspect-ratio: 9 / 5;
  border-radius: 8px;
  padding: 1rem;
  min-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.events-list li:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform-origin: center;
  }

.events-list li a {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--color-accent);
}

.about-text-image img {
    display: none;
}

.about-text-image .text p {
    margin-bottom: 6rem;
}

/* ABOUT */
@media(min-width: 900px){
    .about-text-image {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4rem;
        margin-bottom: 8rem;
    }
    
    .about-text-image img {
        display: block;
        max-width: 50%;
        flex: 1;
    }
    
    .about-text-image .text {
        flex: 1;
    }
    
    .about-text-image .text h2 {
        text-align: left;
    }
    
    .about-text-image .text h2::after {
        content: '';
        display: block;
        width: 100px;
        height: 4px;
        background-color: var(--color-accent);
        margin-top: 0.5rem;
        margin-bottom: 0px;
    }
}

.about-text-image {
    flex: 1;
}