
/* HERO */

.heroSection {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

@media(max-width: 900px) {
    .heroSection {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}

@media(max-width: 790px) {
    .heroSection {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.heroSection {
  scroll-margin-top: calc(12rem + 60px);
}

.heroSection h1 {
  margin-bottom: 3rem;
}

.heroSection h1::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: var(--color-accent);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    left: 0;
}

.heroSection p {
    margin-bottom: 2rem;
}

.heroSection button {
    width: 150px;
    height: 50px;
}

/* UPCOMING EVENTS */

.upcomingEventsSection {
  background-color: var(--color-accent);
  color: var(--background);
  padding: 2rem 0;
  margin-bottom: 8rem;
}

.eventsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.eventsList ul {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  gap: 2rem;
  margin: 0;
}

.eventsList li {
  background-color: var(--background);
  color: var(--color-accent);
  aspect-ratio: 9 / 5;
  border-radius: 8px;
  padding: 1rem;
  min-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.eventsList li:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform-origin: center;
  }

.eventsList li a {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--color-accent);
}

/* ABOUT */

.aboutTextImage img {
    display: none;
}

.aboutTextImage .text p {
    margin-bottom: 6rem;
}

/* ABOUT */
@media(min-width: 900px){
    .aboutTextImage {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4rem;
        margin-bottom: 8rem;
    }
    
    .aboutTextImage img {
        display: block;
        max-width: 50%;
        flex: 1;
    }
    
    .aboutTextImage .text {
        flex: 1;
    }
    
    .aboutTextImage .text h2 {
        text-align: left;
    }
    
    .aboutTextImage .text h2::after {
        content: '';
        display: block;
        width: 100px;
        height: 4px;
        background-color: var(--color-accent);
        margin-top: 0.5rem;
        margin-bottom: 0px;
    }
}